<div id="miMenu">
<ul id="listaMenu">
<li><a href="http://localhost:8083/admin">Clientes</a></li>
<li><a href="http://localhost:8083/producto">Productos</a></li>
<li><a href="http://localhost:8083/compra">Detalle de compra</a></li>
<li><a href="http://localhost:8083/pedido">Detalle de pedido</a></li>
</ul>
</div>
